In [175]:
import pandas_datareader
from datetime import datetime
from bokeh.plotting import figure, show, output_file
import pandas

In [176]:
start=datetime(2021,2,1)
end=datetime(2021,4,22)


df=pandas_datareader.DataReader("AAPL","yahoo",start=start,end=end)

In [177]:
#This is Conditional Selection - it selects all rows in the Open Column that have a value lower
#than their respective row in the Close Column
df.Open[df.Close>df.Open]

Date
2021-02-01    133.750000
2021-02-04    136.300003
2021-02-08    136.029999
2021-02-12    134.350006
2021-02-18    129.199997
2021-02-23    123.760002
2021-02-24    124.940002
2021-03-01    123.750000
2021-03-05    120.980003
2021-03-09    119.029999
2021-03-12    120.400002
2021-03-15    121.410004
2021-03-17    124.050003
2021-03-19    119.900002
2021-03-22    120.330002
2021-03-25    119.540001
2021-03-26    120.349998
2021-03-31    121.650002
2021-04-05    123.870003
2021-04-07    125.830002
2021-04-08    128.949997
2021-04-09    129.800003
2021-04-13    132.440002
2021-04-15    133.820007
2021-04-19    133.509995
2021-04-21    132.360001
Name: Open, dtype: float64

In [178]:
##Transforming hours to miliseconds
## We want to give the rectangle a width of 6 hours before and after the date on the x_axis
hour_12=12*60*60*1000

bull_market=df[df.Close>df.Open]
bear_market=df[df.Close<=df.Open]

In [179]:
p=figure(x_axis_type="datetime",title="Stock Market",height=500, width=1000,sizing_mode="scale_width")


p.quad(top=df.High,bottom=df.Low,left=df.index,right=df.index)
p.rect(x=bull_market.index,y=(bull_market.Open+bull_market.Close)/2,
       width=hour_12,height=bull_market.Close - bull_market.Open,fill_color="Green")
p.rect(x=bear_market.index,y=(bear_market.Open+bear_market.Close)/2,
       width=hour_12,height=bear_market.Open - bear_market.Close,fill_color='Red')


show(p)